In [3]:
# Import the libraries

import pandas as pd
import os

os.chdir("C:\\Users\\user\\Downloads\\GIT\\sokoto_market_tracker\\data\\")

In [5]:
# Import JSON file

# read_json()

df=pd.read_json("Market shops.json")

In [6]:
df

,vendor_name,items,name,price,quantity
0,Ali's Shop,"{'name': 'Tomato', 'price': 120, 'quantity': 50}",Pepper,120,50
1,Shehu's Shop,"{'name': 'Tomato', 'price': 100, 'quantity': 30}",Pepper,110,60
2,Alfa's Shop,"{'name': 'Tomato', 'price': 130, 'quantity': 20}",Pepper,90,70
3,Tijjani's Shop,"{'name': 'Tomato', 'price': 220, 'quantity': 30}",Pepper,95,47
4,Abdul's Shop,"{'name': 'Tomato', 'price': 210, 'quantity': 39}",Pepper,76,80
5,Sadiq's Shop,"{'name': 'Tomato', 'price': 190, 'quantity': 70}",Pepper,69,80
6,Mujaheed's Shop,"{'name': 'Tomato', 'price': 176, 'quantity': 35}",Pepper,87,34

In [7]:
import pandas as pd

new_item = {"name": "Pepper", "price": 150, "quantity": 40}
new_item_df = pd.DataFrame([new_item])  # Convert the new item into a DataFrame
df = pd.concat([df, new_item_df], ignore_index=True)  # Concatenate with the existing DataFrame

print("Updated inventory:")
print(df)

Updated inventory:
       vendor_name                                             items    name  \
0       Ali's Shop  {'name': 'Tomato', 'price': 120, 'quantity': 50}  Pepper
1     Shehu's Shop  {'name': 'Tomato', 'price': 100, 'quantity': 30}  Pepper
2      Alfa's Shop  {'name': 'Tomato', 'price': 130, 'quantity': 20}  Pepper
3   Tijjani's Shop  {'name': 'Tomato', 'price': 220, 'quantity': 30}  Pepper
4     Abdul's Shop  {'name': 'Tomato', 'price': 210, 'quantity': 39}  Pepper
5     Sadiq's Shop  {'name': 'Tomato', 'price': 190, 'quantity': 70}  Pepper
6  Mujaheed's Shop  {'name': 'Tomato', 'price': 176, 'quantity': 35}  Pepper
7              NaN                                               NaN  Pepper

   price  quantity
0    120        50
1    110        60
2     90        70
3     95        47
4     76        80
5     69        80
6     87        34
7    150        40

In [8]:
print("Inventory after adding the new item:")
print(df)

Inventory after adding the new item:
       vendor_name                                             items    name  \
0       Ali's Shop  {'name': 'Tomato', 'price': 120, 'quantity': 50}  Pepper
1     Shehu's Shop  {'name': 'Tomato', 'price': 100, 'quantity': 30}  Pepper
2      Alfa's Shop  {'name': 'Tomato', 'price': 130, 'quantity': 20}  Pepper
3   Tijjani's Shop  {'name': 'Tomato', 'price': 220, 'quantity': 30}  Pepper
4     Abdul's Shop  {'name': 'Tomato', 'price': 210, 'quantity': 39}  Pepper
5     Sadiq's Shop  {'name': 'Tomato', 'price': 190, 'quantity': 70}  Pepper
6  Mujaheed's Shop  {'name': 'Tomato', 'price': 176, 'quantity': 35}  Pepper
7              NaN                                               NaN  Pepper

   price  quantity
0    120        50
1    110        60
2     90        70
3     95        47
4     76        80
5     69        80
6     87        34
7    150        40

In [9]:
df.to_json("alis_shop.json", orient="records", indent=4)
print("Inventory saved to JSON file.")

Inventory saved to JSON file.